/* element들이 꽉찬 viewport width를 가지게 하기 위해 */
html,
body,
main {
    height: 100%;
    width: 100%;
    margin: 0;
}

nav {
    width: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}
nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#drawer {
    background-color: salmon;
}

/* breakpoint : 600px */
@media screen and (min-width: 600px) {
    nav {
        position: relative;
        transform: translate(0, 0);
    }
    body {
        display: flex;
        flex-flow: row nowrap;
    }
    main {
        width: auto;
        flex-grow: 1;
    }
}
